<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Lattes - Onepage Multipurpose Bootstrap HTML</title>
		<!-- Bootstrap core CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="/static/css/owl.carousel.css" rel="stylesheet">
		<link href="/static/css/owl.theme.default.min.css"  rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="static/js/ie-emulation-modes-warning.js"></script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>		
						<li>
							<a class="page-scroll" href="#portfolio">演 出 信 息</a>
						</li>
						<li>
							<a class="page-scroll" href="#map">现 场 地 图</a>
						</li>
						<li>
							<a class="page-scroll" href="#about">关 于 我 们</a>
						</li>
						
						<li>
							<a class="page-scroll" href="#contact">联 系 我 们</a>
						</li>
						<li>
							<a class="page-scroll" href="#diagram">表格呈现</a>
						</li>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- Header -->
		<header>
			<div class="container">
				<div class="slider-container">
					<div class="intro-text">
						<div class="intro-lead-in">Welcome To LIVE shows!</div>
						<div class="intro-heading">All about Live in Shanghai </div>
						<a href="#portfolio" class="page-scroll btn btn-xl">了解更多</a>
					</div>
				</div>
			</div>
		</header>
				
		<section id="portfolio" class="light-bg">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>音乐风格</h2>
						<p>您可以根据平时喜欢的音乐类型进行探索</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>流行</h2>
								<p>pop</p>
			                    
								<a href="pop_info.html">View more</a>
								 
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-2.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>民谣</h2>
								<p>country</p>
								<a href="country_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-3.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>摇滚</h2>
								<p>rock</p>
								<a href="rock_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-4.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>嘻哈</h2>
								<p>hip-pop</p>
								<a href="hippop_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-5.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>朋克</h2>
								<p>punk</p>
								<a href="/punk_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-6.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>电子</h2>
								<p>electronic</p>
								<a href="/electronic_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
			<div class="row">
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-7.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>金属</h2>
								<p>metal</p>
								<a href="/metal_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-8.png" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>爵士</h2>
								<p>jazz</p>
								<a href="/jazz_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/static/images/demo/portfolio-9.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>独立</h2>
								<p>independent</p>
								<a href="independent_info.html">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
			</div><!-- end container -->
		</section>
        <div class="copyrights">Collect from <a href="https://www.webmoban.net" >企业网站模板</a></div>

        <section id="map" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Live house 地图</h2>
							<p> 这里是上海livehouse分布图</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- team member item -->
					<div class="col-md-3">
						<div class="team-item">
							<div class="team-image">
								<img src="/static/images/demo/author-2.jpg" class="img-responsive" alt="author">
							</div>
							<div class="team-text">
								<h3>       </h3>
								<div class="team-location">     </div>
								<div class="team-position">–      –</div>
								<p>        </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>
			</div>
		</section>
		
		
		
        

		<section id="about" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>关于我们</h2>
							<p> 我们将提供您所需的一切信息 </p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-briefcase ot-circle"></i>
							<h3>演出信息</h3>
							<p>演出的时间、地点、路线规划尽在掌握</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-photo ot-circle"></i>
							<h3>演出细节</h3>
							<p>音乐人往期图片、曲目试听、网友评价都在这里</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-camera-retro ot-circle"></i>
							<h3>交流空间</h3>
							<p>这里您可以畅所欲言、遇见更多新朋友</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-cube ot-circle"></i>
							<h3>周边信息</h3>
							<p>还在担心规划演出前时间？这里都有</p>
						</div>
					</div>
					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>

		
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>联系我们</h2>
							<p>如果您有任何问题和意见欢迎联系我们!</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<h3>我们的邮箱</h3>
						<p><i class="fa fa-envelope"></i> yuuuuqiu@gmail.com</p>
					</div>
					<div class="col-md-3">
						<h3>在线时间</h3>
						<p><i class="fa fa-clock-o"></i> <span class="day">工作日:</span><span>9am to 8pm</span></p>
						<p><i class="fa fa-clock-o"></i> <span class="day">周六:</span><span>9am to 2pm</span></p>
						<p><i class="fa fa-clock-o"></i> <span class="day">周日:</span><span>Closed</span></p>
					</div>
					<div class="col-md-6">
						<form name="sentMessage" id="contactForm" novalidate="">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="您的姓名 *" id="name" required="" data-validation-required-message="请输入您的姓名.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="您的邮箱 *" id="email" required="" data-validation-required-message="请输入您的邮箱.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" placeholder="您的内容 *" id="message" required="" data-validation-required-message="请输入您的反馈内容."></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button type="submit" class="btn">发送邮件</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>


		<section id="diagram">			
			<div class="container">
				<div class="row">
					<div class="col">
						<b>name</b>
					</div>
					<div class="col">
						<b>performer</b>
					</div>
					<div class="col">
						<b>time</b>        
					</div>
					<div class="col">
						<b>price</b>
					</div> 
					<div class="col">
					     <b>venue</b>
					</div> 
				</div>	
					
				{%for row in entries%}
				<div class="row">
					<div class="col">
						{{ row["name"] }}
					</div>
					<div class="col">
						{{ row["performer"] }}
					</div>
					<div class="col">
						{{ row["time"] }}
					</div>
					<div class="col">
						{{ row["price"] }}
					</div>
					<div class="col">
					    {{ row["venue"] }}
					</div>
				</div>
				{% endfor %}   
			</div>                    													
		</section>
							   
								 
								



			
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			<div class="container text-center">
				<p>More Templates <a href="https://www.webmoban.net" target="_blank" title="网站模板">网站模板</a> - Collect from <a href="https://www.webmoban.net" title="网页模板" target="_blank">网页模板</a></p>
			</div>
		</footer>

		

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.easing.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/owl.carousel.min.js"></script>
		<script src="/static/js/cbpAnimatedHeader.js"></script>
		<script src="/static/js/theme-scripts.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>